<div *ngIf="dataLoaded==false"  class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row">
  <div class="col-12 m-4">

    <div class="mb-3">
      <label for="filter" class="form-label"></label>
      <input type="text" [(ngModel)]="filter" class="form-control" id="filter" 
      placeholder="search">
    </div>
  </div>
</div>
<div *ngIf="filter" class="alert alert-primary">
  {{filter}} searching.
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tarih</th>
      <th>Fiş No</th>
      <th>Şirket</th>
      <th>Açıklama</th>
      <th>Fiş Türü</th>
      <th>Fiyat</th>
      <th>Toplam Tutar</th>
      <th>KDV</th>
      <th>Görsel</th>
      <th>Kişi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let receipt of receipts | receiptPipe:filter">
    <td>{{ receipt.receiptId }}</td>
    <td>{{ receipt.date }}</td>
    <td>{{ receipt.receiptNo }}</td>
    <td>{{ receipt.company |uppercase}}</td>
    <td>{{ receipt.description }}</td>
    <td>{{ receipt.receiptType |uppercase}}</td>
    <td>{{ receipt.totalCost |currency}}</td>
    <td>{{ receipt.totalCost |vatAdded:8 |currency}}</td>
    <td>{{ receipt.vat }}</td>
    <td>{{ receipt.image }}</td>
    <td>{{ receipt.person |uppercase}}</td>
    <td><button (click)="delete(receipt)" type="button" class="btn btn-danger">x</button></td>
  </tr>
  </tbody>
</table>
