<ul class="list-group">
    <li routerLink="receipt" class="list-group-item">Fişler</li>
    <li routerLink="receipt" class="list-group-item">Fiş Sil</li>
    <li routerLink="receipt" class="list-group-item">Fiş Ekle</li>
    <li routerLink="check" class="list-group-item">Makbuzlar</li>
    <li routerLink="check" class="list-group-item">Makbuz Ekle</li>
    <li routerLink="check" class="list-group-item">Makbuz Sil</li>
    <li class="list-group-item">Personel</li>
    <li class="list-group-item">Rapor</li>
</ul>
