<div class="row">
  <div class="col-12 m-4">
    
    <!-- <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Check Company" aria-label="Check Name" aria-describedby="button-addon2">
      <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
    </div> -->

    <div class="mb-3">
      <label for="filter" class="form-label"></label>
      <input type="text" [(ngModel)]="filter" class="form-control" id="filter" 
      placeholder="search">
    </div>
  </div>
</div>
<div *ngIf="filter" class="alert alert-primary">
  {{filter}} searching.
</div>
<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Tarih</th>
        <th>Makbuz No</th>
        <th>Tutar</th>
        <th>Açıklama</th>
        <th>Görsel</th>
        <th>Şirket</th>
        <th>Kişi</th>
        <th>Adres</th>
      </tr>
    </thead>
    <tr *ngFor="let check of checks | checkPipe:filter">
      <td>{{ check.checkId }}</td>
      <td>{{ check.date }}</td><td>
      <td></td>
      <td>{{ check.checkCost }}</td>
      <td>{{ check.description }}</td>
      <td>{{ check.image }}</td>
      <td>{{ check.company }}</td>
      <td>{{ check.person }}</td>
      <td>{{ check.address }}</td>     
    </tr>
  </table>
